@font-face {
    font-family: Montserrat;
    src: url('./Montserrat.ttf');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    font-family: Montserrat;
}

body {
    margin: 0px;
}

a {
    /* make links light blue */
    color: #0099ff;
    text-decoration: none;
}

#home-container {
    display: grid;
    grid-template-columns: 39% 60%;
    margin: 0px;
}

.home-item {
    padding: 20% 0;
    text-align: center;
}

#home-img  {
    /* make the image have a shadow */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    border-radius: 3%;
}

#home-img-mo  {
    /* make the image have a shadow */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    border-radius: 3%;
}

.title {
    margin: 0;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle {
    margin: 0;
    position: relative;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    padding: 1%;
}

#project-ms-container {
    display: grid;
    grid-template-columns: 60% 39%;
    margin: 0px;
}

.project-ms-item {
    padding: 20% 0;
    text-align: center;
}

.title-ms {
    margin: 0;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-ms {
    margin: 0;
    position: relative;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1%;
}

.description-ms {
    margin: 0;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes float1 {
    0% {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
        transform: skew(-0.015turn, 4.5deg);
    }
	50% {
		box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
        transform: skew(-0.02turn, 6deg);
	}
    100% {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
        transform: skew(-0.015turn, 4.5deg);
    }
}

#project-ms-img  {
    position: relative;
    top: 5%;
    border-radius: 3%;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    /* animation: float1 8s ease-in-out infinite; */

}

#project-ms-img-mo  {
    position: relative;
    top: 5%;
    border-radius: 3%;
    animation: float1 6s ease-in-out infinite;

}

#project-sb-container {
    display: grid;
    grid-template-columns: 44% 55%;
    margin: 0px;
}

.project-sb-item {
    padding: 20% 0;
    text-align: center;
}

.title-sb {
    margin: 0;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-sb {
    margin: 0;
    position: relative;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1%;
}

.description-sb {
    margin: 0;
    position: relative;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes float2 {
    0% {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
        transform: translatey(0px);
        transform: skew(0.015turn, -4.5deg);
    }
	50% {
		box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
		transform: translatey(20px);
        transform: skew(0.02turn, -6deg);
	}
    100% {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
        transform: translatey(0px);
        transform: skew(0.015turn, -4.5deg);
    }
}

#project-sb-img  {
    position: relative;
    top: 5%;
    border-radius: 3%;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#project-sb-img-mo  {
    position: relative;
    top: 5%;
    border-radius: 3%;
    animation: float2 6s ease-in-out infinite;
}

.project-hd-container {
    display: grid;
    grid-template-columns: 60% 39%;
    margin: 0px;
}

.project-hd-item {
    padding: 20% 0;
    text-align: center;
}

.title-hd {
    margin: 0;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-hd {
    margin: 0;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1%;
}

.description-hd {
    margin: 0;
    position: relative;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-hd-img  {
    transform: skew(-0.02turn, 6deg);
    position: relative;
    top: 10%;
    border-radius: 3%;
    /* make the image have a shadow */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.5s linear; /* vendorless fallback */
    -o-transition: box-shadow 0.5s linear; /* opera */
    -ms-transition: box-shadow 0.5s linear; /* IE 10 */
    -moz-transition: box-shadow 0.5s linear; /* Firefox */
    -webkit-transition: box-shadow 0.5s linear; /*safari and chrome */
}

.project-hd-img:hover {
    /* make the image have a shadow */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.8);
    cursor: default;
}

.title-container {
    display: grid;
    grid-template-columns: auto;
    margin: 0px;
}

.title-container-title {
    text-align: center;
    margin: 0px;
}

.contact-fb-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    margin: 0px;
}

.contact-fb-item {
    padding: 10% 0;
    text-align: center;
}

.title-fb {
    margin: 0;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-fb {
    margin: 0;
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1%;
}

.contact-fb-img  {
    position: relative;
    top:7.5%;
    /* make the image have a shadow */
    transition: box-shadow 0.5s linear; /* vendorless fallback */
    -o-transition: box-shadow 0.5s linear; /* opera */
    -ms-transition: box-shadow 0.5s linear; /* IE 10 */
    -moz-transition: box-shadow 0.5s linear; /* Firefox */
    -webkit-transition: box-shadow 0.5s linear; /*safari and chrome */
}

.contact-fb-img:hover {
    /* make the image have a shadow */
    cursor: default;
}

.contact-gm-container {
    display: grid;
    grid-template-columns: 49% 49%;
    margin: 0px;
}

.contact-gm-item {
    padding: 10% 0;
    text-align: center;
}

.title-gm {
    margin: 0;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-gm {
    margin: 0;
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1%;
}

.contact-gm-img  {
    position: relative;
    top:22%;

    /* make the image have a shadow */
    transition: box-shadow 0.5s linear; /* vendorless fallback */
    -o-transition: box-shadow 0.5s linear; /* opera */
    -ms-transition: box-shadow 0.5s linear; /* IE 10 */
    -moz-transition: box-shadow 0.5s linear; /* Firefox */
    -webkit-transition: box-shadow 0.5s linear; /*safari and chrome */
}

.contact-gm-img:hover {
    /* make the image have a shadow */
    cursor: default;
}